[submodule ".registry"]
	path = .registry
	url = https://github.com/edidatasolutions/edidatasolutions.r-universe.dev
	branch = HEAD
[submodule "coldstart"]
	path = coldstart
	url = https://github.com/edidatasolutions/coldstart
[submodule "decisionfacets"]
	path = decisionfacets
	url = https://github.com/edidatasolutions/decisionfacets
[submodule "driftwatch"]
	path = driftwatch
	url = https://github.com/edidatasolutions/driftwatch
[submodule "retestR"]
	path = retestR
	url = https://github.com/edidatasolutions/retestR
[submodule "throughyear"]
	path = throughyear
	url = https://github.com/edidatasolutions/throughyear
[submodule "transDIF"]
	path = transDIF
	url = https://github.com/edidatasolutions/transDIF
